
<HTML>
<HEAD><TITLE>AIS VM Instruction Template</TITLE></HEAD>
<!--Page Parameters -->
<BODY BGCOLOR="#FFFFF0" TEXT="#000000" LINK="#0000ff">

<A NAME="topage"></A>
<TABLE CELLSPACING=0 CELLPADDING=6 BORDER=0 WIDTH=600>
<TR>
<TD  BGCOLOR="#406000" WIDTH="22%" VALIGN="TOP">
<IMG SRC="Image_Math002.gif" WIDTH=128 HEIGHT=203>
<!--- Button which links to Home page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Home' onClick='location = "Page_Help_Home.html"'>
</P>

<TD WIDTH="78%" VALIGN="TOP">
<P>&nbsp;</P>

<FONT COLOR="#000080"><H1><!--docscript>aisRefGuide.myCurrentOntologyObject.VMInstruction.KnowledgeBase.Title</docscript--></H1></FONT>
<P>&nbsp;</P>

<UL>
<LI><A HREF="#INTRO"><FONT SIZE=2>Description</FONT></A></LI>
<LI><A HREF="#SYNTAX"><FONT SIZE=2>Syntax</FONT></A></LI>
<LI><A HREF="#EXAMPLES"><FONT SIZE=2>Examples</FONT></A></LI>
<LI><A HREF="#KEYWORDS"><FONT SIZE=2>Keyword Links</FONT></A></LI>
<LI><A HREF="#INSTYPE"><FONT SIZE=2>Instruction Type</FONT></A></LI>
<LI><A HREF="#ARGTYPE"><FONT SIZE=2>Argument Types</FONT></A></LI>
<LI><A HREF="#VMI"><FONT SIZE=2>Virtual Machine Instructions</FONT></A></LI>
<LI><A HREF="#CKA"><FONT SIZE=2>How do I contact InvestByLambda?</FONT></A></LI>
</UL>
</TD>
</TR>
</TABLE> 

<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="INTRO"></A>Description</H4></FONT>
<P>
<font color=black><!--docscript>(aisRefGuide.vmDescription)</docscript--></font>
 
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>

<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="SYNTAX"></A>Syntax</H4></FONT>
<P>
<font color=red><!--docscript>(aisRefGuide.vmSyntaxTable)</docscript--></font>
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>


<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="EXAMPLES"></A>Examples</H4></FONT>
<P>
Here are a number of links to Lambda coding examples which contain this instruction in various use cases.
</P>
<P>
<!--docscript>(aisRefGuide.vmExamples)</docscript-->
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>

<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="KEYWORDS"></A>Keyword Links</H4></FONT>
<P>
Here are a number of links to this instruction by related keywords.
</P>
<P>
<font color=red>[...under construction ]</font>
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>

<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="INSTYPE"></A>Instruction Type</H4></FONT>
<P>
Here are a number of links to this instructions of this same type.
</P>
<P>
<font color=red><!--docscript>(aisRefGuide.vmInsType)</docscript--></font>
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>


<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="ARGTYPE"></A>Argument Types</H4></FONT>
<P>
Here are a number of links which are related to this instructions .
</P>
<P>
<font color=black><!--docscript>(aisRefGuide.vmKeyWordLinks)</docscript--></font>
</P>
 
<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>


<P>&nbsp;</P>
<FONT COLOR="#0000ff"><H4><A NAME="VMI"></A>Virtual Machine Instructions</H4></FONT>
<P>
AIS Lambdas are designed to be write-once-run-anywhere executable objects. 
This is accomplished via the virtual machine concept of software Lambda execution. 
Lambda virtual machines are designed to be mapped onto the actual host microchip at the server location, 
providing faithful Lambda execution wherever the Lambda may travel on the Internet. 
There are currently several virtual machines operating within Analytic Information Server. 
The DRM virtual machine uses a Dynamically typed Register Machine model to provide portable Lambda execution 
from high level dynamically typed instructions all the way to super fast microchip-level register execution. 
The DRM virtual machine runs in emulation mode during the testing and debug phases of Lambda development, 
and there is an AIS Lambda debugger available for Lambdas running on this virtual machine. 
During the final release phases of Lambda development, DRM virtual machine Lambdas are automatically converted 
to the NATIVE virtual machine on the host computer, using the just-in-time compiler. 
The NATIVE virtual machine is a faithful machine language translation of the execution rules in the DRM virtual machine 
onto the actual host microchip at the server location. 
NATIVE virtual machine execution runs at microchip-level execution speeds.
</P>

<!--- Button which links to top of page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Top of Page' onClick='scroll(0,0)'>
</P>


<TABLE CELLSPACING=0 CELLPADDING=6 BORDER=0 WIDTH=600>
<TR>
<TD BGCOLOR="#406000" WIDTH="22%" VALIGN="TOP">
<IMG SRC="Image_Math002.gif" WIDTH=128 HEIGHT=203>
<!--- Button which links to Home page --->
<P ALIGN="CENTER">
<INPUT TYPE='button' VALUE='Home' onClick='location = "NewHelpHome.html"'>
</P>

<TD WIDTH="78%" VALIGN="TOP">
<FONT COLOR="#0000ff"><H4><A NAME="CKA"></A>How do I contact the AIS team?</H4></FONT>
<P>
You can always talk with the AIS at <A HREF="http:://aiserver.sourceforge.net">aiserver.sourceforge.net</A>.
</P>

</TD>
</TR>
</TABLE>


</BODY>
</HTML>